<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#block "titulo"}}
        <title>MESTRAPEST</title>
    {{/block}}

    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS file -->
    <link href="/css/generales.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico">

    {{#block "imports"}}
    {{/block}}
</head>
<body class="d-flex flex-column">

        <nav class="navbar sticky-top navbar-expand-lg {{#with adminPlataforma}}bg-admin{{else}}{{#with adminComunidad}}bg-adminComunidad{{else}}{{#with comunidad}}bg-miembro{{else}}{{#with manejador}}bg-manejador{{else}}navbar-dark bg-primary{{/with}}{{/with}}{{/with}}{{/with}}">
    <div class="container">
        <a class="navbar-brand" href="/home"><b>MESTRAPEST</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item mx-2">
                    <a class="nav-link {{#with nav-index}}active{{/with}}" href="/home">Inicio</a>
                </li>
                {{#with comunidad}}
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle {{#with nav-incidentes}}active{{/with}}" href="#" id="navbarDropdownIncidentes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Incidentes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownIncidentes">
                        <a class="dropdown-item" href="/incidentes">Listado</a>
                        <a class="dropdown-item" href="/aperturaIncidente">Apertura</a>
                        <a class="dropdown-item" href="/cierreIncidente">Cierre</a>
                    </div>
                </li>
                    {{#with adminComunidad}}
                        <li class="nav-item mx-2">
                            <a class="nav-link {{#with nav-comunidades}}active{{/with}}" href="/comunidades/{{comunidad.id}}/edit">Modificar comunidad</a>
                        </li>
                    {{else}}
                        <li class="nav-item mx-2">
                            <a class="nav-link {{#with nav-comunidades}}active{{/with}}" href="/comunidades/{{comunidad.id}}">Ver comunidad</a>
                        </li>
                    {{/with}}
                {{/with}}
                {{#with manejador}}
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle {{#with nav-entidades}}active{{/with}}" href="#" id="navbarDropdownEntidades" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entidades
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownEntidades">
                        <a class="dropdown-item" href="/entidadesPrestadoras">Administracion</a>
                        <a class="dropdown-item" href="/rankings">Rankings</a>
                        {{#with adminPlataforma}}
                            <a class="dropdown-item" href="/cargaMasiva">Carga masiva</a>
                        {{/with}}
                    </div>
                </li>
                {{/with}}
                {{#with userDefault}}
                <li class="nav-item mx-2">
                    <a class="nav-link {{#with nav-comunidades}}active{{/with}}" href="/comunidades">Comunidades</a>
                </li>
                {{/with}}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/cron-task">Cron Tasks</a>
                </li>
                {{#with adminPlataforma}}
                    <li class="nav-item mx-2">
                        <a class="nav-link {{#with nav-comunidades}}active{{/with}}" href="/comunidades">Comunidades</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {{#with nav-etiquetas}}active{{/with}}" href="/etiquetas">Etiquetas</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {{#with nav-servicios}}active{{/with}}" href="/servicios">Servicios</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {{#with nav-usuarios}}active{{/with}}" href="/usuarios">Usuarios</a>
                    </li>
                {{/with}}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{#with nav-usuarios}}active{{/with}}" href="#" id="navbarDropdownSesion" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{userActual.personaAsociada.nombre}} {{userActual.personaAsociada.apellido}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownSesion">
                        <a class="dropdown-item" href="/usuarios/{{userActual.id}}/edit">Mi perfil</a>
                        <a class="dropdown-item" href="/misComunidades">Mis comunidades</a>
                        <a class="dropdown-item" href="/usuarios/{{userActual.id}}/interes">Mis intereses</a>
                        <a class="dropdown-item" href="/roles">Cambiar rol</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{#if msg}}
    <div class="container mt-3">
        <div class="row justify-content-center d-flex">
            <div class="col-8">
                <div class="alert alert-{{msg.tipo}} alert-dismissible fade show" role="alert">
                    {{msg.texto}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{{/if}}

<!-- Contenido principal -->
        {{#with "contenidoIncidentes"}}
            {{{contenidoIncidentes}}}
        {{/with}}

        <div id="main-content">
            {{#block "contenido"}}
            {{/block}}
        </div>

<footer class="bg-secondary text-white text-center py-3">
    <div class="container">
        2023 Grupo 19 - UTN FRBA, DDS Miércoles Noche.
    </div>
</footer>

<!-- Bootstrap JavaScript y Popper.js Links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script src="/js/geo_localizacion/tracker-localizacion.js"></script>
</body>
</html>