<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>

    <!-- Add Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS file -->
    <link href="/css/generales.css" rel="stylesheet">
    <script src="/js/manejoUsuario.js"></script>
    <script src="/js/manejoBloquesFormulario.js"></script>
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
</head>
<body class="d-flex flex-column">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><b>MESTRAPEST</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownIncidentes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Incidentes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownIncidentes">
                        <a class="dropdown-item" href="/incidentes">Listado</a>
                        <a class="dropdown-item" href="/aperturaIncidente">Apertura</a>
                        <a class="dropdown-item" href="/cierreIncidente">Cierre</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEntidades" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entidades
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownEntidades">
                        <a class="dropdown-item" href="/rankings">Rankings</a>
                        <a class="dropdown-item" href="/cargaMasiva">Carga masiva</a>
                        <a class="dropdown-item" href="/entidadesPrestadoras">Administracion</a>
                    </div>
                </li>
                {{#with adminPlataforma}}
                    <li class="nav-item">
                        <a class="nav-link active active" href="/usuarios">Usuarios</a>
                    </li>
                {{/with}}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownSesion" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mi sesión
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownSesion">
                        <a class="dropdown-item" href="/usuarios/{{userActual.id}}/edit">Mi perfil</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container altura-minima mt-5 mb-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Modificar Perfil de Usuario
                </div>
                <div class="card-body">
                    {{#with error}}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error.</strong> Verifique los datos ingresados
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {{/with}}
                    {{#with success}}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Datos actualizados correctamente.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {{/with}}
                    <form action="/usuarios/{{usuario.id}}/edit" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{usuario.username}}">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="password" class="form-label">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" autocomplete="off">
                            <label for="repetir_password" class="form-label">Repetir Nueva Contraseña</label>
                            <input type="password" class="form-control" id="repetir_password" name="repetir_password">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input class="form-control" id="nombre" name="nombre" value="{{usuario.personaAsociada.nombre}}">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input class="form-control" id="apellido" name="apellido" value="{{usuario.personaAsociada.apellido}}">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" id="email" name="email" value="{{usuario.personaAsociada.email}}">
                            <label for="celular" class="form-label">Celular</label>
                            <input class="form-control" id="celular" name="celular" value="{{usuario.personaAsociada.whatsapp}}">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="medio_notificacion" class="form-label">Medio de Notificacion</label>
                            <select class="form-select" id="medio_notificacion" name="medio_notificacion" data-medio="{{medioNotificacion}}">
                                <option value="EMAIL">Email</option>
                                <option value="WPP">Whatsapp</option>
                            </select>
                            <label for="momento_notificacion" class="form-label">Momento de Notificacion</label>
                            <select class="form-select" id="momento_notificacion" name="momento_notificacion" data-momento="{{momentoNotificacion}}">
                                <option value="alMomento">Al Momento</option>
                                <option value="sinApuro">Sin Apuro</option>
                            </select>
                            <div id="fechas_de_semana" class="d-flex flex-column my-3 gap-2">
                                <div id="bloquesDinamicos">
                                    <p>Fechas de Semana</p>
                                    {{#with fechasDeSemana}}
                                        {{#each fechasDeSemana}}
                                            <div class="dynamic-block">
                                                <div class="input-group mt-3">
                                                    <span class="input-group-text">Cada</span>
                                                    <select type="text" class="form-select dia" name="dias[]" data-dia="{{dia}}">
                                                        <option value="MONDAY">Lunes</option>
                                                        <option value="TUESDAY">Martes</option>
                                                        <option value="WEDNESDAY">Miercoles</option>
                                                        <option value="THURSDAY">Jueves</option>
                                                        <option value="FRIDAY">Viernes</option>
                                                        <option value="SATURDAY">Sabado</option>
                                                        <option value="SUNDAY">Domingo</option>
                                                    </select>
                                                    <span class="input-group-text">A las</span>
                                                    <input type="time" class="form-control time-notificacion" name="horas[]" value="{{horario}}">
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{else}}
                                        <div class="dynamic-block">
                                            <div class="input-group mt-3">
                                                <span class="input-group-text">Cada</span>
                                                <select type="text" class="form-select dia" name="dias[]" data-dia="{{dia}}">
                                                    <option value="MONDAY">Lunes</option>
                                                    <option value="TUESDAY">Martes</option>
                                                    <option value="WEDNESDAY">Miercoles</option>
                                                    <option value="THURSDAY">Jueves</option>
                                                    <option value="FRIDAY">Viernes</option>
                                                    <option value="SATURDAY">Sabado</option>
                                                    <option value="SUNDAY">Domingo</option>
                                                </select>
                                                <span class="input-group-text">A las</span>
                                                <input type="time" class="form-control time-notificacion" name="horas[]" value="{{horario}}">
                                            </div>
                                        </div>
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-end gap-3">
                            <a class="btn btn-sm btn-danger" id="remove-service" style="cursor: pointer">Eliminar última fecha</a>
                            <a class="btn btn-sm btn-success" id="add-service" style="cursor: pointer">Agregar fecha</a>
                        </div>
                        <hr>
                            <div class="row ">
                                <div class="col-sm-3">
                                    <label for="vieja_password" class="form-label">Actual Contraseña</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="vieja_password" name="vieja_password" required autocomplete="off">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-secondary text-white text-center py-3">
    <div class="container">
        2023 Grupo 19 - UTN FRBA, DDS Miércoles Noche.
    </div>
</footer>

<!-- Add Bootstrap JavaScript and Popper.js Links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
