{{#partial "titulo"}}
    <title>Editar</title>
{{/partial}}
{{#partial "contenido"}}
<!-- Contenido principal -->
<div class="container mt-4 mb-4 altura-minima">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            {{#with msg}}
                <div class="alert alert-{{#if (eq msg.tipo "success")}}success{{else}}danger{{/if}} alert-dismissible fade show" role="alert">
                    {{msg.texto}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/with}}
            <form action="{{#with crear}}/{{accion}}{{else}}/{{accion}}/{{entidad.id}}{{/with}}" method="post">
                    <div class="row">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" value="{{entidad.nombre}}" required>
                            </div>
                        <input type="hidden" value="{{organismo.id}}" name="organismo">
                    </div>
                <button type="submit" class="btn btn-success">Guardar cambios</button>
                <a href="/entidadesPrestadoras" class="btn btn-secondary">Volver al listado</a>
            </form>
        </div>
    </div>
</div>

{{/partial}}
{{> templates/base}}
